*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
app/build/
build/
.gradle/
local.properties
*.iml
.idea/
*.log

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store